<ion-view view-title="{{::category_name}}">
    <ion-nav-buttons side="right">
        <a class="button button-outline button-positive" href="#/app/menu/shop/search"><i
                class="icon ion-ios-search"></i></a>
    </ion-nav-buttons>
    <ion-content delegate-handle="example-scroller">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshUI()"></ion-refresher>

        <div class="item item-divider">
            <span ng-bind-html="::category_name" style="padding-top: 5px"></span>
        </div>

        <!--<category-list thumbnail="false" mode="horizontal" category="id" style="color: #000000"></category-list>-->
		
		<ion-scroll direction="x">
			<div class="row home-category-grid-icons">
				<a class="col" ng-repeat="item in tabbedGrid" ng-click="loadSubItemsOnUI(item.id)" ng-class="{'selected' : selectedCategory == item.id}">
					<div class="">
						<span ng-bind-html="item.name"></span>
					</div>
				</a>
			</div>
		</ion-scroll>
		
        <div class="recent-items-list" ng-class="{'row grid_mode' : grid_mode, 'list': !grid_mode}">
            <div class="item" ng-repeat="item in items" ng-class="{'col-50' : grid_mode}">
                <div class="row">

                    <div class="col-50 shadow" style="padding: 15px">
                        <item-template item="item.rightItem" mode="3"></item-template>
                    </div>
                    <div class="col-50 shadow" style="padding: 15px">
                        <item-template item="item.leftItem" mode="3"></item-template>
                    </div>
                </div>
            </div>
            <ion-item ng-if="items.length < 1">{{::text_empty}}</ion-item>
			<aa href="#" ng-click="loadNextPage()" >Load more</a>
            <!--ion-infinite-scroll on-infinite="loadNextPage()" distance="20%"></ion-infinite-scroll-->
        </div>

    </ion-content>
</ion-view>
