<ion-view view-title="{{::category_name}}">
    <ion-nav-buttons side="right">
        <a class="button button-outline button-positive" href="#/app/menu/shop/search"><i class="icon ion-ios-search"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="{{ 'shop.pull' | i18n }}" on-refresh="refreshUI()"></ion-refresher>

        <div class="item item-divider" style="background-color: #2bb0e3">
            <span ng-bind-html="::category_name"></span>
        </div>
		
		<!--category-list thumbnail="false" mode="vertical" category="id"></category-list-->
		
        <div class="recent-items-list list">
            <div class="item item-p" ng-repeat="item in items" style="padding:0;">
                <item-template item="item" mode="2"></item-template>
            </div>
        </div>

		<ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
