<ion-view view-title="{{::category_name}}">
    <ion-nav-buttons side="right">
        <a class="button button-outline button-positive" href="#/app/menu/shop/search"><i class="icon ion-ios-search"></i></a>
    </ion-nav-buttons>
    <ion-content auto-hide delegate-handle="category-scroller">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshUI()"></ion-refresher>

        <div class="item item-divider item-button-right">
            <span ng-bind-html="::category_name"></span>
        </div>
		
		<category-list thumbnail="false" mode="vertical" category="id"></category-list>
		
        <div class="recent-items-list row">
            <div class="item col-50" ng-repeat="item in items">
                <item-template item="item" mode="2"></item-template>
            </div>
            <ion-item ng-if="items.length < 1">{{::text_empty}}</ion-item>
            <ion-infinite-scroll ng-if="!endOfItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
        </div>

    </ion-content>
</ion-view>
