<ion-view hide-nav-bar="true" cache-view="false">
    <div class="splash-screen">
        <div class="splash-screen-content">
            <a ng-click="goHome()">
                <img src="img/logo.png" style="width: 80px;"/>
            </a>
            <p i18n="common.welcome_title"></p>

            <p>
                <ion-spinner class="front-spinner"></ion-spinner>
            </p>

            <p>{{text}}</p>

            <img src="img/welcome.png" style="width: 80px;" ng-click="openInAppBrowser()"/>
        </div>
    </div>
</ion-view>

