<a analytics-click="Product" href="#/app/menu/shop/item/{{::item.product_id}}" class="col-50">
    <div>

        <!--<button analytics-click="Wishlist" data-product-name="{{item.name}}" class="col-50 button button-full button-clear button-outline" ng-click="addToWishlist(item.product_id)">-->
        <!--<i class="icon ion-ios-heart-outline"></i> {{ 'shop.item_add_to_wishlist_button' | i18n }}-->
        <!--</button>-->
        <img preload-image class="full-image" ng-src="{{::item.thumb}}" default-image="app/shop/images/placeholder.png"
             fallback-image="app/shop/images/placeholder.png"/>
    </div>
    <div>
        <h2 ng-bind-html="item.name"></h2>
        <p class="product-description" ng-bind-html="::item.description"></p>
        <span class="badge badge-assertive" ng-if="::item.off" i18n="shop.off" data-percent="{{::item.off}}"></span>
        <!--<p ng-if="reward && item.reward" i18n="shop.reward_points" data-reward="{{item.reward}}"></p>-->
        <div class="row">
            <div class="col item-price-view">
                <span ng-if="item.special">{{::item.special}}</span>
                <span ng-class="{'has-special' : item.special}">{{::item.price}}</span>
                <span ng-if="item.special != item.mobile_special && item.mobile_special" class="mobile-offer-item">
                <i class="icon ion-iphone"></i> {{::item.mobile_special}}
            </span>
            </div>
        </div>
    </div>
</a>