<ion-view view-title="{{ 'offers.title_list_page' | i18n }}">

    <ion-pane class="pane has-tabs-top">
        <ion-nav-view name="tab-tab2">
                    <ion-content class="has-sub-tabs-top">
                        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshUI()"></ion-refresher>
                        <div class="recent-items-list row grid_mode">
                            <div ng-repeat="item in data.items" class="item col-50">
                                <item-template item="item" mode="3" on-item-click="clicked()"></item-template>
                            </div>
                            <ion-item ng-if="data.items && data.items.length < 1">{{::text_empty}}</ion-item>
                            <ion-infinite-scroll ng-if="!endOfOfferItems" on-infinite="loadNextPage()" distance="1%"></ion-infinite-scroll>
                        </div>
                    </ion-content>
                </ion-nav-view>
    </ion-pane>
</ion-view>
