/* custom css goes here */
@font-face {
    font-family: "DroidKufi";
    src: url("fonts/DroidKufi-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.justify-product-button {
    margin: -5px;
}

.tab-title {
    font-family: "DroidKufi", serif;
    font-weight: normal;
    font-style: normal;
}

.align-right {
    float: right;
    text-align: right;
}

.bar .title {
    text-align: center;
}

.bar .title.title-left {
    text-align: center;
    left: 57px !important;
}

.item-input input {
    padding-right: 2px;
}

.card .item.item-input input, .list-inset .item.item-input input, .padding-horizontal > .list .item.item-input input, .padding > .list .item.item-input input {
    padding-right: 2px;
}

.home-category-grid-icons img {
    height: 60%;
    width: 100%;
}

.tab-item .icon {
    color: #000;
    margin: 5px;
}

.button .icon {
    color: #000000;
}

.shadow {
    -webkit-box-shadow: 10px 10px 35px -5px rgba(240, 240, 240, 1);
    -moz-box-shadow: 10px 10px 35px -5px rgba(240, 240, 240, 1);
    box-shadow: 10px 10px 35px -5px rgba(240, 240, 240, 1);
}

.bar-balanced .button {
    color: #000;
}

.bar-balanced .button:hover {
    color: #000;
}

.bar.bar-balanced {
    background-color: #FFFFFF;
}

.left {
    float: left;
}

.right {
    float: right;

}

.black {
    color: #000;
}

.nav-bar-right-margin {
    margin-right: 10px;
}

.nav-bar-text-margin {
    margin-right: -70px;
}

.item {
    color: #000000;
}

.icon-width {
    width: 50px;
}

.button {
    background-color: #FFFFFF;
    color: #000000;
}

/*.button.button-positive {*/
/*border-color: transparent;*/
/*background-color: #111;*/
/*color: #fff;*/
/*}*/

.popup-buttons .button {
    border-color: transparent;
    background-color: #111;
    color: #fff;
}

.button.button-balanced {
    border-color: transparent;
    background-color: #a2a2a2;
    color: #fff;
}

.toggle {
    margin-left: 60px;
}

body[dir=rtl] .bar-header .title+.button:last-child, body[dir=rtl] .bar-header .title+.buttons {
    /* left: 5px; */
    /* right: unset; */
}

.tabs-positive>.tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
    background-color: #fff;
    color: #000;
}

.selected {
	background-color: #eee!important;
}

.nobackbutton a:click{
	
}