/* custom css goes here */
@font-face {
    font-family: "GE_SS_Text_Light";
    src: url("fonts/GE_SS_Text_Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.justify-product-button {
    margin: -5px;
}

.tab-title {
    font-family: "GE_SS_Text_Light", serif;
    font-weight: normal;
    font-style: normal;
}

.align-right {
    float: right;
    text-align: right;
}

.bar .title {
    text-align: center;
}

.bar .title.title-left {
    text-align: center;
    left: 57px !important;
}

.item-input input{
    padding-right: 2px;
}
.card .item.item-input input, .list-inset .item.item-input input, .padding-horizontal > .list .item.item-input input, .padding > .list .item.item-input input {
    padding-right: 2px;
}

.button{
    background-color:#DDDDDD;
}

.button.button-balanced {
    background-color: #444;
}

.item-button-right, a.item.item-button-right, button.item.item-button-right {
    padding-right: 20px;
}